@import '../../node_modules/@grafana/toolkit/sass/_variables.light.scss';
@import 'sankey';

.pieLabel > div {
  color: $black;
}

.sankey-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sankey-panel--legend-right {
  flex-direction: row;
}

.sankey-panel--legend-right .sankey-legend {
  flex: 0 1 10px;
  height: 100%;
}

_:-ms-fullscreen,
:root .sankey-panel--legend-right .sankey-legend {
  flex: 0 1 200px;
}

.sankey-panel--legend-right .sankey-legend-series {
  display: block;
  padding-left: 0px;
}

.sankey-panel--legend-right .sankey-legend-table .sankey-legend-series {
  display: table-row;
}

.sankey-legend__container {
  height: 100%;
}

.sankey-panel__chart {
  position: relative;
  cursor: crosshair;
  flex-grow: 1;
  top: 10px;
}

.datapoints-warning {
  pointer: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  margin-top: -50px;
  margin-left: -100px;
  width: 200px;
  text-align: center;
  cursor: auto;
  padding: 10px;
}

.sankey-legend {
  flex: 0 1 auto;
  margin: 0 1rem;
  text-align: center;
  padding-top: 6px;
  position: relative;
}

.sankey-legend .popover-content {
  padding: 0;
}

.sankey-legend-icon {
  position: relative;
  padding-right: 4px;
  top: 1px;
}

.sankey-legend-icon,
.sankey-legend-alias,
.sankey-legend-value {
  cursor: pointer;
  float: left;
  white-space: nowrap;
  font-size: 85%;
  text-align: left;
  color: 52545c;
}

.sankey-legend-icon.current::before {
  content: 'Current: ';
}

.sankey-legend-icon.max::before {
  content: 'Max: ';
}

.sankey-legend-icon.min::before {
  content: 'Min: ';
}

.sankey-legend-icon.total::before {
  content: 'Total: ';
}

.sankey-legend-icon.avg::before {
  content: 'Avg: ';
}

.sankey-legend-alias.current::before {
  content: 'Current: ';
}

.sankey-legend-alias.max::before {
  content: 'Max: ';
}

.sankey-legend-alias.min::before {
  content: 'Min: ';
}

.sankey-legend-alias.total::before {
  content: 'Total: ';
}

.sankey-legend-alias.avg::before {
  content: 'Avg: ';
}

.sankey-legend-value.current::before {
  content: 'Current: ';
}

.sankey-legend-value.max::before {
  content: 'Max: ';
}

.sankey-legend-value.min::before {
  content: 'Min: ';
}

.sankey-legend-value.total::before {
  content: 'Total: ';
}

.sankey-legend-value.avg::before {
  content: 'Avg: ';
}

.sankey-legend-icon .fa {
  font-size: 135%;
  position: relative;
  top: 1px;
}

.sankey-legend-series {
  float: left;
  white-space: nowrap;
  padding-left: 10px;
}

.sankey-legend-series--right-y {
  float: right;
}

.sankey-legend-value {
  padding-left: 6px;
}

.sankey-legend-table tbody {
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  padding-bottom: 1px;
  padding-right: 5px;
}

.sankey-legend-table .sankey-legend-series {
  display: table-row;
  float: none;
  padding-left: 0;
}

.sankey-legend-table .sankey-legend-series--right-y {
  float: none;
}

.sankey-legend-table .sankey-legend-series--right-y .sankey-legend-alias::after {
  content: '(right-y)';
  padding: 0 5px;
  color: #767980;
}

.sankey-legend-table td,
.sankey-legend-alias,
.sankey-legend-icon,
.sankey-legend-value {
  float: none;
  display: table-cell;
  white-space: nowrap;
  padding: 2px 10px;
  text-align: right;
}

.sankey-legend-table .sankey-legend-icon {
  width: 5px;
  padding: 0;
  top: 0;
}

.sankey-legend-table .sankey-legend-icon .fa {
  top: 4px;
}

.sankey-legend-table .sankey-legend-value {
  padding-left: 15px;
}

.sankey-legend-table .sankey-legend-alias {
  padding-left: 7px;
  text-align: left;
  width: 95%;
  max-width: 650px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sankey-legend-table .sankey-legend-series:nth-child(odd) {
  background: #dde4ed;
}

.sankey-legend-table .sankey-legend-value.current::before {
  content: '';
}

.sankey-legend-table .sankey-legend-value.max::before {
  content: '';
}

.sankey-legend-table .sankey-legend-value.min::before {
  content: '';
}

.sankey-legend-table .sankey-legend-value.total::before {
  content: '';
}

.sankey-legend-table .sankey-legend-value.avg::before {
  content: '';
}

.sankey-legend-table th {
  text-align: right;
  padding: 0px 10px 1px 0;
  font-weight: bold;
  color: #61c2f2;
  font-size: 85%;
  white-space: nowrap;
}

.sankey-legend-series-hidden .sankey-legend-value,
.sankey-legend-series-hidden .sankey-legend-alias {
  color: #acb6bf;
}

.sankey-tooltip {
  white-space: nowrap;
  font-size: 12px;
  background-color: #dde4ed;
  color: #35373f;
}

.sankey-tooltip .sankey-tooltip-time {
  text-align: center;
  position: relative;
  top: -3px;
  padding: 0.2rem;
  font-weight: bold;
  color: #35373f;
}

.sankey-tooltip .sankey-tooltip-value {
  display: table-cell;
  font-weight: bold;
  padding-left: 15px;
  text-align: right;
}
